/* --- Generales --- */

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Dancing Script', cursive;
	background-color: #02010a;
}

footer {
	background-color: #C6d5c5;
	border-radius: 0px 0px 10px 10px; 
	display: flex;
	padding: 20px;
}

img {
	box-shadow: 2px 2px 2px #02010a;
}

.bloque-1 img{
	box-shadow: 2px 2px 2px #82c3a6;
}

.bloque-2 img{
	box-shadow: 2px 2px 2px #82c3a6;
}

/* --- Caja contenedora principal --- */

.contenido {
	width: 900px;
	height: 100%;
	margin: 0 auto;
}

/* --- Titulo de la página --- */

.logo {
	float: left;
	color: white;
	text-shadow: 2px 2px #02010a;
	padding-top: 20px;
	margin-left: 20px;
}

/* --- Menú de navegación --- */

nav {
	background-color: #5b7989;
	overflow: hidden;
	width: 100%;
	height: 70px;
	text-align: center;
	border-radius: 10px 10px 0px 0px;
}

.menu {
	float: right;
	align-items: center;
}

.menu ul {
	padding-top: 25px;
}

.menu ul li {
	display: inline;
	align-items: center;
	margin-right: 20px;
	
}

.menu ul li a {
	color: #fff;
}

.menu a:active{
	text-decoration: none;
}

/* --- Sección Central --- */

.imagen-principal {
	padding: 20px;
	background-color: #82c3a6;
}

.img-pri {
	margin: 10px 10px 10px 43px;
}

/* --- Sección secundaria --- */

.contenedor-seccion2 {
    background-color: #d5c75f;
    display: flex;
    height: auto;
    padding: 0px 0px 20px 0px;
}

.bloque-1 {
    text-align: -webkit-center;
    margin: 30px;
}

.bloque-2 {
    text-align: -webkit-center;
    margin: 30px;
}

/* --- Clases paisajes & Retratos --- */

.contenedor-galeria-r {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: flex-start;
	background-color: #82c3a6;
}

.bloque-galeria-r {
	width: 200px;
	height: 100px;
}

.image-r-1 {
	width: 30%;
	height: 50%;
	margin:10px;
	-webkit-filter: blur(10px);
	filter: blur(10px);
}

.image-r-2 {
	width: 30%;
	height: 50%;
	margin:10px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.image-r-3 {
	width: 30%;
	height: 50%;
	margin:10px;
	-webkit-filter: sepia(90%);
	filter: sepia(90%);
}

.image-r-4 {
	width: 30%;
	height: 50%;
	margin:10px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.image-r-5 {
	width: 30%;
	height: 50%;
	margin:10px;
}

.image-r-6 {
	width: 30%;
	height: 50%;
	margin:10px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

/* --- Animaciones --- */

.bloque-1:hover {
    animation: Animaciona 1s;
}

@-webkit-keyframes Animaciona{

	from {
	transform: rotate(0deg);
	}

	to {
	transform: rotate(10deg);
	}
}

.bloque-2:hover{
	animation: Animacionb 1s;
}

@-webkit-keyframes Animacionb{

	from {
	transform: translate(0px, 0px);
	}

	to {
	transform: translate(20px, -5px);
		}
}

nav {
	animation: slidein 2s;
}

@-webkit-keyframes slidein {
  0% {
    margin-top: 150%;
  }

  60% {
    margin-top: -5%;
  }

  100% {
    margin-: 0%;
  }
}

/* --- Media Queries --- */

@media (max-width: 899px){

.logo, nav {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.contenido {
	width: 100%;
	margin: 0px 0px 0px 0px;
}

.img-pri {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.contenedor-seccion2 {
    background-color: #d5c75f;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    margin: 0 auto;
}

.bloque-1 {
    text-align: -webkit-center;
    margin: 15px;
    width: 100%
    height:100%;
}

.bloque-2 {
    text-align: -webkit-center;
    margin: 15px;
    height:100%;
}

footer {
	display: flex;
	flex-direction: column;
	padding: 20px 20px 20px 0px;
}

.contacto, .terminos, .redes, .derechos{
	margin-top: 20px;
	text-align: left;
}

/* --- Retratos --- */

.contenedor-galeria-r {
	padding: 20px;
}

.image-r-1 {
	width: 100%;
	margin:10px;
}

.image-r-2 {
	width: 100%;
	margin:10px;
}

.image-r-3 {
	width: 100%;
	margin:10px;
}

.image-r-4 {
	width: 100%;
	margin:10px;
}

.image-r-5 {
	width: 100%;
	margin:10px;
}

.image-r-6 {
	width: 100%;
	margin:10px;
}

}