body {
	background-color: #ECF0F1;
	font-family: 'Raleway', sans-serif;
}

.header {
	height: 200px;
	background-color: #FF5D5D;
}

.icons {
	width: 40px;
	height: 40px
}

.caja-redes {
	height: auto;
}

.main {
	background-color: #fff;
}

.contenedor-principal {
	background-color: #aaa;
}

.aside {
	background-color: #ECECEB;
}

.borde {
	border: 1px #000 solid;
}
